<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Asala Dashboard Regression Suite">
	<parameter name="browser" value="firefox"></parameter>
	<test name="Regression Test" >
		<classes>
			<class name="test.LoginTest"/>
		</classes>
	</test>

	<test name="Regression Test1" >
		<classes>
			<class name="test.AddNewOfferTest"/>
		</classes>
	</test>
</suite>
